.example-card {
  display: block;
  background-color: lightblue;
  width: 420px;
}

.test {
  display: inline-block;
}

:host {
  display: inline-block;
  border-radius: 3px;
  margin: 20px 0;
  width: 425px;
  /* padding: 20px;*/
  box-shadow: 3px 3px 2px #ccc;
  /* transition: border-color 0.5s ease-out;*/
  transition: border-color 0.5s ease-out;
}

.image {
  width: 100px;
}

.mat-card-actions {
  display: grid;
}
